body{
    background-color: #d8c1a4;
}
h1{
    text-align: center;
    color: #bc6cd9;
}
h2{
    color: #2b9bc7;
}
.formulario{
    margin: 10px;
}
.formulario .botones{
    font-size: 15px;
    margin: 8px;
    border-radius: 25px;
    border-color: rgb(101, 168, 168);
    color: #000000;
    background-color: #d47e14;
}
.etiqueta{
    background-color: #bc6cd9;
}

/*Pagina index*/
/* 
h1 {
    background-color: #000000;
    font-size: 25px;
    color: rgb(255, 0, 0);
    font-family: cursive;

}
*/
p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: darkgreen;
}
ol li{
    font-size: 25px;
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul li{
    max-width: 30%;
    background-color: yellow;
    font-size: 25px;
    color: forestgreen;
    font-weight: bold;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor {
    display: flexbox;
}
.imagenes img{
    max-width: 25%;
    max-height: 25%;     
}

.enviar{    
    margin: 7px;
    background-color: blueviolet;
    border-radius: 25px;
    color: #f0f0f0;
    font-size: 20px;
}